<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/591c2421c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/empleados.css">
    <title>Document</title>
</head>

<body>
    <div class="barra-superior">
        <div class="row">
            <div class="col-6">
                <h2>EMASA MINERALES S.A.C.</h2>
            </div>
            <div class="col-6">
                <a href="/" class="btn btn-success salir">Salir</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="barra-back">
            <a href="/reportes" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i></a>
        </div>
        <h1>Reporte de Monto Facturados</h1>
        <div class="row">
            <div class="col-12">
                <form action="/reporte1" method="post">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-5">
                                    <label class="form-label" for="">Fecha Inicio</label>
                                </div>
                                <div class="col-7">
                                    <input class="form-control" type="date" name="fi" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-5">
                                    <label class="form-label" for="">Fecha Fin</label>
                                </div>
                                <div class="col-7">
                                    <input class="form-control" type="date" name="ff" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success item-button" type="submit">Go</button>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="">Monto Facturado <%= montofact %> </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Factura</th>
                        <th>Nun Factura</th>
                        <th>Fecha</th>
                        <th>Monto Facturado</th>
                        <th>Empleado</th>
                        <th>Cliente</th>
                        <th>Contrato</th>
                    </tr>
                </thead>
                <tbody>
                    <% let c=0 %>
                        <% facturas.forEach((f)=> { %>
                            <% c++ %>
                                <tr>
                                    <td>
                                        <%= c %>
                                    </td>
                                    <td>
                                        <%= f.id %>
                                    </td>
                                    <td>
                                        <%= f.nf %>
                                    </td>
                                    <td>
                                        <%= f.ff %>
                                    </td>
                                    <td>
                                        <%= f.mf %>
                                    </td>
                                    <td>
                                        <%= f.ide %>
                                    </td>
                                    <td>
                                        <%= f.idc %>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12 contBotones">
                                                <a href="/contrato/<%= f.nf %>/<%= f.id %>"
                                                    class="btn btn-dark botones"><i class="fas fa-scroll"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</html>